<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Local Library</title>
    {% endblock %} {% load static %}
    <link rel="stylesheet" href="{% static 'css/mainStyle.css' %}" />
  </head>
  <body>
    <!--Navbar that includes links to other pages-->
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'home' %}">Home</a></li>
    </ul>
    <div>{%block content%}{%endblock%}</div>
  </body>
</html>
